<section class="section--center mdl-grid mdl-grid--no-spacing page-title">
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <h2>Welcome, How Can We Help You?</h2>
    </div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">


    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">

        <div class="mdl-card__supporting-text">
            <header>
                <h4>Book a consultation</h4>
            </header>

            <p>
                Seeing a doctor is easy. You can book a consultation in seconds and speak to a leading GP in minutes. Most of the time patients problems are resolved there and then, with prescriptions arranged where necessary.
                <br/> Our UK and Ireland based GP's are available wherever you are, at a time that suits you.
            </p>
            <p>
                <strong>
                    Unlimited consultations for just £4.99 or $7.99 per month.
                </strong>
            </p>
        </div>

        <div class="mdl-card__media mdl-color-text--grey-50">
            <img src="img/home/hero.jpg"/>
        </div>

        <div class="mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored btn-overide" ui-sref="book-consultation">
                See a doctor now
            </button>
        </div>
    </div>


</section>
