

.book-consultation-form

    .form--section
        border-bottom: 1px solid #E4E4E4

        header
            h4
                color: #8B8B8B
                text-align: center
                text-transform: uppercase
                font-weight: 300

        .form--content
            width: 100%

        .form--iconlist
            width: 100%
            list-style: none
            margin: 0px
            padding: 0px
            display: flex
            justify-content: center

            li
                width: auto
                height: auto
                position: relative
                cursor: pointer

                &.form--iconlist-default
                    margin-right: 60px

                .iconlist-or
                    position: absolute
                    right: -30px
                    top: 20px
                    color: #E4E4E4

                .iconlist-img
                    width: 60px
                    height: 60px
                    margin: 0 auto
                    position: relative

                    .selected
                        position: absolute
                        width: 18px
                        height: 18px
                        background-color: #7ED321
                        border-radius: 50%
                        border: 1px solid white
                        position: absolute
                        display: none
                        .material-icons
                            font-size: 16px
                            color: #ffffff

                    img
                        width: 100%
                        height: 100%
                        border-radius: 50%
                        border: 1px solid #E4E4E4

                .iconlist-meta
                    width: 100%
                    p
                        text-align: center

                &.form--iconlist-add
                    .iconlist-img
                        .material-icons
                            font-size: 60px
                            color: #EEEEEE

                &.active
                    .selected
                        display: block



.modal
    position: fixed
    top: 0px
    left: 0px
    z-index: 1000
    right: 0px
    bottom: 0px

    .mdl-dialog
        margin: 100px auto 0
        z-index: 1
        position: relative
        background-color: white


    .backdrop
        position: absolute
        top: 0px
        left: 0px
        right: 0px
        bottom: 0px
        background-color: rgba(0, 0, 0, 0.3)
