<section class="section--center mdl-grid mdl-grid--no-spacing page-title">
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <h2>Book a Consultation</h2>
    </div>
</section>



<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">


    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone book-consultation-form">
        <form name="consultationForm">

            <div class="mdl-card__actions form--section">


                <header>
                    <h4>Book this consultation for</h4>
                </header>

                <div class="form--content">
                    <ul class="form--iconlist" form-users  ng-model="consultationFormData.user" family="familyMembers"></ul>
                </div>
            </div>


            <div class="mdl-card__actions form--section">
                <header>
                    <h4>professionals</h4>
                </header>

                <div class="form--content">
                    <ul class="form--iconlist" form-professionals  ng-model="consultationFormData.professionalType" professionals="professionals">
                    </ul>

                </div>
            </div>


            <div class="mdl-card__actions form--section" ng-if="consultationFormData.professionalType.professionals">
                <header>
                    <h4>Select the {{ consultationFormData.professionalType.label }}</h4>
                </header>

                <div class="form--content" form-drs  ng-model="consultationFormData.professional" professionals="consultationFormData.professionalType.professionals"></div>
            </div>


            <div class="mdl-card__actions form--section" ng-if="consultationFormData.professional">
                <header>
                    <h4>Next available appointment</h4>
                </header>

                <div class="form--content" form-appointment ng-model="consultationFormData.time" times="consultationFormData.professional.avaliable"></div>
            </div>


            <div class="mdl-card__actions form--section">

                <h4>Book this consultation for</h4>
                <p>
                    {{ consultationFormData }}
                </p>
            </div>


        </form>
    </div>


</section>
