<li class="form--iconlist-default form--iconlist-professionals" ng-repeat="type in professionals" ng-click="setType( type )" ng-class="isActive( type )">
    <div class="iconlist-img">
        <div class="selected">
            <i class="material-icons">done</i>
        </div>
        <img ng-src="./img/user.png" />
    </div>
    <div class="iconlist-meta">
        <p>
            {{ type.label }}
        </p>
        <p ng-if="type.subLabel" class="iconlist-meta--sub">
            {{ type.subLabel }}
        </p>
    </div>
    <p class="iconlist-or">or</p>
</li>
