html {
    background-color: #F8F8F8;
    height: 100%;
}


.mdl-layout__header {
    min-height: 1px;
}
.mdl-layout__tab-bar {
    height: auto;
    max-width: 860px;
    margin: 0 auto;
    padding: 0px;
}

.mdl-layout__tab {
    text-transform: capitalize;
    font-weight: 200;
}

.section--center {
    max-width: 860px;
}

.is-active::after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: #ffffff;
    -webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    transition: all 1s cubic-bezier(.4,0,1,1);
}



.page-title {
    h2 {
        color: #827096;
        font-weight: 200;
    }
}

.btn-overide{
    box-shadow: none;
    font-weight: 300;
}
