html {
    background-color: #F8F8F8;
    height: 100%;
}

body {
    height: 100%;
}


.mdl-layout__header {
    min-height: 1px;
}
.mdl-layout__tab-bar {
    height: auto;
    max-width: 860px;
    margin: 0 auto;
    padding: 0px;
}

.mdl-layout__tab {
    text-transform: capitalize;
    font-weight: 200;
}

.mdl-layout__content {
    section {
        &:last-child {
            margin-bottom: 100px;
        }
    }
}

.mdl-card__supporting-text {
    header {
        h4 {
            color: #827096;
            font-weight: 300;
        }
    }
}

.section--center {
    max-width: 860px;
}


.page-title {
    h2 {
        color: #827096;
        font-weight: 200;
    }
}

.btn-overide{
    box-shadow: none;
    font-weight: 300;
}
